.prices-header {
	padding-bottom: 332px;
	background-color: #f7f7f4;
}

.pagetitle--prices {
	max-width: 545px;
}

.prices__text {
	max-width: 795px;
	margin: 0 auto 145px;
	text-align: center;
}

.services-item {
	padding: 30px 27px 20px;
 	background-position: 50% 50%;
 	background-size: cover;
 	background-repeat: no-repeat;
 	background-color: #4d4d4c;
 	&:nth-child(2) {
 		.services-item__title {
 			color: #fff;
 			&::before {
 				background-color: #fff;
 			} 
 		}
 		.services-item__text { 
 			color: #fff;
 		}
 		.services-item__price {
 			color: #fff;
 			span {
 				color: #fff;
 			}
 		}
 	}
 	&:nth-child(3) {
 		.services-item__title {
 			color: #fff;
 			&::before {
 				background-color: #fff;
 			} 
 		}
 	}
}

.services-item__title {
	margin-bottom: 15px;
	padding-left: 45px;
	padding-bottom: 11px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.4);
	font-family: @font-alt;
	font-size: 24px;
	font-weight: 500;
	line-height: 1.08;
	position: relative;
	&::before {
		content: '';
		position: absolute;
		top: 50%;
		left: 0;
		width: 30px;
		height: 1px;
		background-color: #000;
	}
}

.services-item__text {
	min-height: 200px;
	text-align: center;
}

.services-item__price {
	text-align: center;
	font-size: 33px;
	font-weight: 300;
	line-height: 37px;
	span {
		color: #333333;
		font-size: 66px;
	}
}

