.prices-header {
	background-color: #f7f7f4;
}

.section-title--prices {
	margin-top: 120px;
}

.pagetitle--prices {
	max-width: 600px;
	margin-bottom: 95px;
	@media (max-width: @breakpoint-xsmall-max) {
		margin-bottom: 50px;
	}
}

.prices__text {
	max-width: 795px;
	margin: 0 auto 145px;
	text-align: center;
}

.prices-services {
	background: linear-gradient(to bottom, #f7f7f4 52%, #ffffff 52%)
}

.services-item {
	padding: 30px 0 20px;
 	background-position: 50% 50%;
 	background-size: cover;
 	background-repeat: no-repeat;
 	background-color: #4d4d4c;
 	&:nth-child(2) {
 		.services-item__title {
 			color: #fff;
 			border-bottom: 1px solid rgba(255, 255, 255, 0.4);
 			&::before {
 				background-color: #fff;
 			}
 		}
 		.services-item__text {
 			color: #fff;
 		}
 		.services-item__price {
 			color: #fff;
 			span {
 				color: #fff;
 			}
 		}
 	}
 	&:nth-child(3) {
 		.services-item__title {
 			color: #fff;
 			border-bottom: 1px solid rgba(255, 255, 255, 0.4);
 			&::before {
 				background-color: #fff;
 			}
 		}
 		.services-item__text {
 			color: #fff;
 		}
 	}
 	&:nth-child(4) {
 		.services-item__title {
 			color: #fff;
 			border-bottom: 1px solid rgba(255, 255, 255, 0.4);
 			&::before {
 				background-color: #fff;
 			}
 		}
 		.services-item__text {
 			color: #fff;
 		}
 		.services-item__price {
 			color: #fff;
 			span {
 				color: #fff;
 			}
 		}
 	}
}

.services-item__title {
	height: 48px;
	margin: 0 27px 10px;
	padding-left: 43px;
	padding-bottom: 15px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.4);
	font-family: @font-alt;
	font-size: 24px;
	font-weight: 500;
	line-height: 1.08;
	position: relative;
	&::before {
		content: '';
		position: absolute;
		top: 39%;
		left: 0;
		width: 30px;
		height: 1px;
		background-color: #000;
	}
}

.services-item__text {
	min-height: 225px;
	padding: 0 27px 0 28px;
	text-align: center;
	@media (max-width: @breakpoint-xsmall-max) {
		text-align: left;
	}
}

.services-item__price {
	text-align: center;
	font-size: 33px;
	font-weight: 300;
	line-height: 37px;
	span {
		margin-right: 12px;
		color: #333333;
		font-size: 66px;
	}
}

.prices-packages {
	background: linear-gradient(to bottom, #ffffff 50%, #4d4d4c 50%)
}

.packages-item {
	padding: 15px 0;
	border: 1px solid #d4d4d4;
	&:nth-child(n) {
		background-color: #fff;
	}
	&:nth-child(2n) {
		background-color: #f3f2f2;
	}
}

.packages-item__title {
  	min-height: 56px;
	margin-bottom: 15px;
	text-align: center;
	font-size: 28px;
	line-height: 1;
}

.packages-item__desc {
	margin-bottom: 23px;
	padding: 0 9px;
	text-align: center;
	color: #666666;
	font-size: 14px;
	line-height: 1.5;
}

.packages-item__actual-price {
	text-align: center;
	color: #cc0000;
	font-size: 66px;
	font-weight: 300;
	line-height: 1;
}

.packages-item__unit {
	position: relative;
	top: -33px;
	right: 15px;
	font-size: 22px;
	font-weight: 400;
}

.packages-item__old-price {
	margin-bottom: 40px;
	margin-left: 40px;
	color: #999999;
	text-decoration: line-through;
	@media (max-width: @breakpoint-xsmall-max) {
		text-align: center;
	}
}

.packages-item__text {
	margin-left: 40px;
	margin-bottom: 23px;
	color: #666666;
	font-size: 16px;
}

.button-intro--packages {
	padding: 20px 50px;
	background-color: #797977;
	&:hover {
		background-color: #41413f;
	}
}

.packages-item__button {
	text-align: center;
}

.prices-cost {
	padding-bottom: 90px;
	background-color: #4d4d4c;
}

.prices-cost__text {
	color: #fff;
	h2 {
		font-size: 28px;
		color: #fff;
	}
}

.consult--prices {
	position: static;
	width: 100%;
	margin-top: 83px;
	padding: 60px 0px 90px 100px;
	.consult__text {
		margin-bottom: 40px;
	}
	.button-framed {
		padding: 10px 45px;
	}
	@media (max-width: @breakpoint-xsmall-max) {
		padding: 30px;
	}
}

.prices-composition {
	padding-bottom: 66px;
}

.prices-composition-slider {
	max-width: 634px;
	margin-left: -70px;
	margin-top: 10px;
	margin-bottom: 78px;
	@media (max-width: @breakpoint-large-max) {
		margin: 0 auto;
	}
}

.composition-slider {
	position: relative;
}

.composition-slider__content {
	position: absolute;
	top: 5%;
	left: 5%;
	width: 89%;
	height: 85%;
	li {
		width: 100%;
		height: 100%;
		background-size: cover;
	}
}

.composition-slider__control {
	margin-right: 20px;
	padding-bottom: 19px;
	border-bottom: 1px solid #e6e6e6;
}

.composition-slider__counter {
	width: 100px;
	margin-left: 35px;
	color: #999999;
	font-size: 18px;
	span {
		font-size: 24px;
	}
}

.composition-slider__active {
	color: #000;
}

.prices-compostion__list {
	max-width: 450px;
	list-style-type: none;
	counter-reset: composition;
	li {
	 	margin-bottom: 16px;
	 	position: relative;
	 	&::before {
			 counter-increment: composition;
	  		 content: counter(composition);
			 position: absolute;
			 left: -35px;
			 top: 50%;
			 transform: translateY(-50%) translateX(-50%);
			 color: #999999;
			 font-size: 30px;
		 	 font-weight: 300;
		  	 line-height: 1;
	 	}
	}
	@media (max-width: @breakpoint-large-max) {
		margin: 0 auto;
		padding-top: 50px;
	}
	@media (max-width: @breakpoint-xsmall-max) {
		padding-left: 60px;
	}
}

.prices-calculations {
	padding-bottom: 57px;
	background-color: #f7f7f4;
}

.prices-calculations__text {
	max-width: 980px;
	margin: 0 auto 77px;
	text-align: center;
	font-size: 24px;
	@media (max-width: @breakpoint-xsmall-max) {
		font-size: 18px;
	}
}

.calculation__container {
	max-width: 784px;
	margin: 0 auto;
}

.calculation__tip {
	margin-bottom: 53px;
	padding: 17px 10px 15px;
	border-top: 1px solid #e9e9e9;
	border-bottom: 1px solid #e9e9e9;
	text-align: center;
	font-size: 16px;
}

.calculation__title {
	margin-top: 6px;
}

.calculation__input {
	border-radius: 3px;
	border: 1px solid #e0e0e0;
	background-color: #ffffff;
}

.calculation__desc {
	margin-top: 15px;
	color: #666666;
	font-size: 16px;
	font-style: italic;
}

.calculation__meter {
	margin-left: 5px;
	margin-top: 6px;
}

.calculation__submit {
	padding-top: 23px;
	border-top: 1px solid #e9e9e9;
}

.calculation__row {
	margin-bottom: 30px;
	@media (max-width: @breakpoint-xsmall-max) {
		margin-bottom: 0;
	}
}

.calculation__conditions {
	color: #666666;
	font-size: 16px;
	a {
		color: #666666;
		text-decoration: underline;
	}
}

.button-intro--calculation {
	margin-top: 27px;
}
