.pagetitle--project {
	margin-top: 100px;
	text-transform: uppercase;
}

.project-header {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 761px;
	background-size: cover;
}

.project-bar {
    .control-bar(absolute);
}

.project-bar__prev,
.project-bar__next {
	color: #999999;
	font-size: 12px;
	&:hover {
		color: darken(#999999, 30%);
		text-decoration: none;
	}
}

.project-bar__prev {
	position: relative;
	
}